body {
    background:         #e8e8e8;
    color:              #000000;
    margin:             0;
}

a {
    font:               12px Verdana;
    color:              #6882d8;
    text-decoration:    none;
}

#top-links a {
    color:              white;
    font-weight:        bold;
    text-decoration:    none;
}

#logo a {
    font:               bold 16px Verdana;
    color:              #6882d8;
    text-decoration:    none;
}

#top-links {
    width:              1000px;
    height:             43px;
    margin:             0 auto;
}

#top-links-left {
    width:              16px;
    height:             43px;
    float:              left;
    background:         url('../Textures/links-menu-left.gif') no-repeat;
}

#top-links-middle {
    width:              968px;
    height:             43px;
    float:              left;
    background:         url('../Textures/links-menu-bg.gif') repeat-x;
}

#top-links-right {
    width:              16px;
    height:             43px;
    float:              right;
    background:         url('../Textures/links-menu-right.gif') no-repeat;
}

.top-links-sep {
    width:              1px;
    height:             43px;
    float:              left;
    background:         url('../Textures/links-menu-sep.gif') no-repeat;
}

#top-links-home {
    width:              20px;
    height:             16px;
    float:              left;
    background:         url('../Textures/home.png') no-repeat;
}

.top-links-item {
    font:               bold 12px Verdana;
    text-align:         center;
    min-width:          50px;
    height:             37px;
    margin:             0;
    padding:            6px 10px 0 10px;
    float:              left;
}

.top-links-item:hover {
    background:         url('../Textures/links-menu-sep.gif') repeat-x;
}

#logo {
    height:             70px;
    width:              1006px;
    margin:             0 auto;
    background:         url('../Textures/logo.gif') no-repeat;
}

#main-header {
    height:             16px;
    width:              1006px;
    margin:             0 auto;
    background:         url('../Textures/main-header.gif') no-repeat;
}

#main-center {
    width:              1006px;
    margin:             0 auto;
    background:         url('../Textures/main-center.gif') repeat-y;
    text-align:         center;
}

#main-footer {
    height:             16px;
    width:              1006px;
    margin:             0 auto;
    background:         url('../Textures/main-footer.gif') no-repeat;
}

.product {
    font:               11px Verdana;
    text-align:         center;
    border-spacing:     1px;
    margin:             0 auto;
    border:             1px solid #d0d0d0;
    width:              80%;
}

.product .img {
    width:              150px;
}

.product .description {
    padding:            0 50px;
    background-color:   #efefef;
}